
@{
    ViewData["Title"] = "Descobrir Idade";
    @model FindOutAgeModel
    
}

<form asp-controller="FindOutAge" asp-action="FindOutAge" method="post">
    <div id="mensagem" class="form-group">
        <label for="nome">Verificando Idade da Pessoa</label>
        <input type="date" asp-for="BirthData" class="form-control" required placeholder="Insira sua data de Nascimento, Ex: 10/09/1990">
        @TempData["msg"]
    </div>

    <button type="submit" class="btn btn-primary">Descobrir</button>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Privacy" role="button">Voltar</a>
</form>