@{
    ViewData["Title"] = "Funcionalidades";
}
<div class="text-center">
    <a class="btn btn-primary" role="button" asp-controller="FindOutAge" asp-action="FindOutAge">Descobrir Sua Idade!</a>
</div>  